@import 'sanitize.css';
@import './pagination.scss';
@import './loading.scss';

html {
  height: $full;
}

body {
  height: $full;
  color: #333;
  font-weight: 400;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: $full;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

.app {
	display: flex;
	flex-direction: column;
	width: $full;
	max-width: 1024px;
	align-self: center;
	min-height: $full;
	padding-bottom: 24px;
}